/* CC-BY-SA 4.0 */
* {
    font-family: 'Noto Sans JP', sans-serif !important;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-property: color, opacity, background-color, display, div, position, width, span, font-size,text-decoration,box-shadow,border-color,border;
    font-weight: 600;
}
.scroller-1ox3I2,
.content-2a4AW9 {
    transition-duration: 0.0s !important;
    transition-timing-function: ease-out !important;
    transition-property: height !important;
}
.base-2jDfDU {
    transition: all 0.3s ease;
}
.theme-dark {
    --background-primary: #202225;
    --background-secondary: #18191c;
    --background-secondary-alt: #202225;
    --background-accent: #2e2f33;
    --menu-background: #18191cc9 !important;
}
.menu-1QACrS {
    border-radius: 20px;
    border: 2px solid var(--background-mobile-secondary);
    box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 60%);
    background: var(--menu-background);
    padding: 1%;
    overflow: auto;
    max-height: 25em
}
.focused-3qFvc8 {
    background-color: #4f545c8c !important;
}
.item-1OdjEX,
.item-3XjbnG {
    border-radius: 8px !important;
    padding: 5.5% !important;
}
.content-1gYQeQ {
    border-radius: 5px !important;
    padding: 1%;
}
.sidebarRegion-1VBisG {
    border-right: 1px solid var(--background-mobile-secondary);
}
.sizeSmall-wU2dO-,
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.wrapper-2vIMkT,
.channelTextArea-220_Gz,
.scrollableContainer-15eg7h,
.navButtonActive-1EqC5l,
#floating-editor-window,
.lookFilled-yCfaCM.colorGreen-3y-Z79,
.analyticsCard-2fnrVG,
.itemCard-3Etziu,
.wrapperAudio-1Bzv_Z,
.accountProfileCard-lbN7n-,
.container-3i3IzO,
.profileBannerPreview-3mLIdO,
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
    border: 2px solid var(--background-mobile-secondary) !important;
    border-radius: 20px !important;
    box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 60%);
}
.tabBarItem-30Te4- {
    border-radius: initial !important;
}
.navButton-1XuvI- {
    border: 1px solid transparent;
}
.bar-2eAyLE {
    border: 2px solid #aaa !important;
}
.radioBar-3w9XY- {
    border-top: 1px solid rgb(121, 121, 121) !important;
    border-right: 1px solid rgb(121, 121, 121) !important;
    border-bottom: 1px solid rgb(121, 121, 121) !important;
    border-radius: 8px 8px 8px 8px !important;
    box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 60%);
    background: var(--background-secondary-alt);
}
.wrapper-1HIH0j,
.embedFull-1HGV2S,
.card-16VQ8C {
    border: 1px solid rgb(121, 121, 121) !important;
    border-radius: 20px 20px 20px 20px !important;
    box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 60%);
    background: var(--background-secondary-alt);
}
.connection-YOVI9j,
.itemFilled-1cPbtg,
.cameraWrapper-3a7Ngv,
.activeGame-1OdxzI,
#popout_12696,
.wrapper-SdcMKg,
.membershipDialog-2wAdpQ,
.inner-3je51t,
.searchBar-jGtisZ,
.searchBarComponent-3N7dCG,
.container-3EtAkD,
.upsellContainer-22N_CL,
.tier-3CS7-p,
.disabledButtonOverlay-1_LsqE,
.auditLog-1NVAY0,
.descriptionBox-SKGNgB,
.upsellContent-10YytV,
.developerPortalCtaWrapper-2PniQs,
.error-3AuLwi,
.featureCard-3XHbjy,
.container-13pE3E,
.checklistContainer-12xGp5,
.settingsFormItem-25zW3t,
.previewContainer-29oeA6,
.welcomeChannel-_Q4qAA,
.addChannelButton-2TtQyi,
.wrapper-3Zq_cJ,
.inner-2pOSmK,
.sparkles-1JOsCC,
.featureGrid-SSlfD0,
.marketingRefreshSectionTier1-1chtWC,
.guilds-XTTuu3,
.emptyState-2cl8KX,
.backgroundOptionsLarge-3AnNpy,
.focusLock-2tveLW,
.hasReply-2Cr4KE,
.cardFolder-3H4uH4,
.container-3EtAkD,
.exampleContainer-hz7EUM,
.mentioned-Tre-dv {
    border: 2px solid var(--background-mobile-secondary);
    border-radius: 20px !important;
    box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 60%);
    background: var(--background-primary);
}
#bd-pub-li {
    display: none;
}
img {
    border-radius: 20px;
}
.userPopout-2j1gM4 {
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    background-color: #18191ceb;
    border-radius: 12px;
    overflow: hidden;
    max-height: calc(100vh - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid var(--deprecated-store-bg);
}
.bodyInnerWrapper-2bQs1k {
    background-color: #18191ceb;
}
.popoutContainer-2wbmiM {
    background-color: #18191ceb;
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
    border: 1px solid var(--deprecated-store-bg);
    border-radius: 12px;
}
.bodyInnerWrapper-2bQs1k,
.footer-3naVBw {
    background-color: transparent;
}
.spoiler-3aUoEX.hiddenSpoilers-19m4Pg {
    filter: blur(0px);
}
.imageWrapper-oMkQl4 img {
    position: absolute;
    background: #fff;
}
.blockedSystemMessage-3FmE9n {
    display: none;
}
.button-1zW0-r:hover {
    background: #4f545c8c;
}
.body-1Ukv50 {
    background: var(--background-primary);
    border-radius: 0px 0px 20px 20px;
}
.root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 {
    border-radius: 20px;
}
.tabBarItem-30Te4- .item-3XjbnG {
    padding: 2% !important;
}
.body-2wLx-E {
    margin-top: 3%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-height: 0;
    padding: 8px 16px 14px;
    background: var(--background-primary);
    border-top: 3px solid var(--background-mobile-secondary);
}
.container-3EBHNg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--background-modifier-accent);
    background: var(--background-secondary-alt);
}
.theme-dark .footer-31IekZ {
    background: var(--background-secondary-alt);
    border-top: 2px solid #adb1bb;
}
.flex-2S1XBF.flex-3BkGQD.horizontalReverse-60Katr.horizontalReverse-2QssvL.flex-3BkGQD.directionRowReverse-HZatnx.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz.footer-31IekZ.footer-2NMtcb.footerSeparator-VzAYwb {
    border-radius: 0px 0px 20px 20px;
}
.theme-dark .root-g14mjS {
    background: var(--background-secondary-alt);
    -webkit-box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 20px;
    height: auto;
}
.body-1Ukv50 {
    max-height: 240px;
    overflow: auto;
}
.profileGroup-1yKk23 .item-1OdjEX {
    padding: 0px !important;
}
.input-2g-os5 {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    color: var(--text-normal);
    background-color: var(--spoiler-revealed-background);
    border: none;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
    border-radius: 10px;
    border: 1px solid var(--background-mobile-secondary);
}
.peopleColumn-1wMU14,
.footer-3naVBw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    background: var(--background-primary);
}
.quickswitcher-pKcM9U {
    position: relative;
    width: 570px;
    border-radius: 8px;
    padding: 20px 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-shadow: 0 2px 10px rgb(0 0 0 / 20%), 0 0 0 1px rgb(28 36 43 / 60%);
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%), 0 0 0 1px rgb(28 36 43 / 60%);
    background-color: var(--background-secondary);
    color: var(--text-normal);
    border-radius: 20px;
}
.container-ZMc96U.themed-Hp1KC_ {
    background: var(--background-secondary);
    max-width: 100%;
    overflow-y: hidden;
}
.connectionHeader-Ixbb1s {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 20px;
    background: var(--background-secondary);
    border-radius: 20px 20px 0 0;
    border-bottom: 2px solid #adb1bb;
}
.role-2TIOKu {
    font-size: 12px;
    font-weight: 500;
    background: var(--background-secondary);
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 22px;
    margin: 0 4px 4px 0;
    padding: 2%;
}
.scrollableContainer-15eg7h {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--background-secondary);
    max-height: 50vh;
    border-radius: 8px;
    scrollbar-width: none;
}
.channelTextArea-1FufC0 {
    margin-bottom: 24px;
    background-color: transparent;
    border-radius: 20px;
}
.profileBannerPremium-KD60EB {
    width: 600px;
    height: 190px;
}
.theme-dark .perksModal-CLcR1c {
    background-image: url(/assets/a49aa0a….svg);
    background-color: var(--background-primary);
}
.theme-dark .tierBody-3ju-rc {
    background-color: var(--background-secondary);
    border-radius: 0px 0px 20px 20px;
    border: 1px solid var(--background-mobile-secondary);
}
.theme-dark .tierHeaderLocked-3ItHYn {
    background-color: var(--background-mobile-secondary);
    color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid #55585f;
}
.header-3cSJjT {
    background-color: var(--background-secondary);
    height: 48px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 48px;
    padding: 0 16px;
    border-radius: 20px 20px 0px 0px;
}
.container-3GP6AV {
    background-color: var(--background-primary);
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.menu-1dOGCq {
    min-width: 220px;
    max-width: none;
}
.theme-light {
--menu-background: #b1b1b18f !important;
}
.modalContent-3YXA7I {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px 20px 0px 0px;
    background: var(--background-secondary);
}
.theme-dark .footer-31IekZ {
    background: var(--background-primary);
    border-radius: 0 0 20px 20px;
}
.tierWrapper-CsnudO {
    border-radius: 20px;
}
.theme-dark .tierHeaderUnlocked-1IvR2R, .theme-light .tierHeaderUnlocked-1IvR2R {
    background-image: -webkit-gradient(linear,left top,right top,from(hsl(235,calc(var(--saturation-factor, 1)*68.5%),52.7%)),to(hsl(269,calc(var(--saturation-factor, 1)*91.8%),61.8%)));
    background-image: linear-gradient(
90deg
,hsl(235,calc(var(--saturation-factor, 1)*68.5%),52.7%),hsl(269,calc(var(--saturation-factor, 1)*91.8%),61.8%));
    color: #fff;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid #adb1bb;
}
.theme-dark .ctaBar-Nhk8yY {
    border-radius: 20px;
    background-image: url(/assets/94ff6fd….svg);
}
.public-DraftEditorPlaceholder-hasFocus {
border-radius: 20px;
}
.contentWrapper-3vHNP2 {
    border-radius: 20px;
}
.popout-1KHNAq.popoutPositionTop-1GenHR {
    border-radius: 20px 20px 0 0;
    border: 1px solid var(--background-mobile-secondary);
}
.lookFilled-1GseHa.select-1Ia3hD {
    border: 1px solid var(--background-mobile-secondary);
    background: var(--background-secondary);
    border-radius: 20px;
}
.container-2O1UgZ {
    width: 250px;
    overflow: hidden;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    background-color: var(--background-primary);
    border: 1px solid var(--background-modifier-accent);
    border-radius: 20px;
}
.header-kxb7f7 {
    background-image: url(/assets/0d38d74….svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 132px;
    border-radius: 20px 20px 0 0;
    border-bottom: 2px solid #adb1bb;
}
.userInfo-regn9W {
    height: 72px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px 16px 63px 120px;
    background: var(--background-secondary);
    border-bottom: 2px solid #adb1bb;
    margin-bottom: 12px;
}
.messagesPopoutWrap-3zryHW {
    background-color: var(--background-secondary);
    -webkit-box-shadow: var(--elevation-stroke),var(--elevation-high);
    box-shadow: var(--elevation-stroke),var(--elevation-high);
    width: 420px;
    min-height: 200px;
    border-radius: 4px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}
.animation-3szaot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-secondary);
    z-index: -1;
}
.theme-dark .footer-31IekZ {
    background: var(--background-secondary);
    border-radius: 0 0 20px 20px;
}
